
@{
    ViewData["Title"] = "Encryption";
}

<h4>Asymmetric Encryption</h4>
<br />
<p>Plaintext: <strong>@Html.Raw(ViewBag.Plaintext)</strong></p>
<p>Encrypted: <strong>@Html.Raw(ViewBag.EncryptedBytes)</strong></p>
<p>Ciphertext: <strong>@Html.Raw(ViewBag.Ciphertext)</strong></p>
