
@{
    ViewData["Title"] = "Hash";
}

<h4>Hash</h4>
<br />
<p>Plaintext: <strong>@Html.Raw(ViewBag.Plaintext)</strong></p>
<p>Digest Bytes: <strong>@Html.Raw(ViewBag.DigestBytes)</strong></p>
<p>Encoded Digest: <strong>@Html.Raw(ViewBag.EncodedDigest)</strong></p>
