
@{
    ViewData["Title"] = "Data Protection Encryption";
}

<h4>Data Protection Encryption</h4>
<br />
<p>Plaintext: <strong>@Html.Raw(ViewBag.Plaintext)</strong></p>
<p>Ciphertext: <strong>@Html.Raw(ViewBag.Ciphertext)</strong></p>
